$titleTextSize: 2em;
$baseTextSize: 1.5em;
$baseFontWeight: bold;
$textColor: rgb(155, 155, 155);



.shopinngCart::-webkit-scrollbar {
    width: 0;
  }

  .card-number.valid {
      border: 2px solid green;
  }

  .card-number.no_valid {
    border: 2px solid red;
  }


.shopinngCart {
    position: fixed;
    z-index: 1000;
    //width: 1100px;
    //width: 90vw;
    width: 90%;
    //height: 600px;
    //height:40vw;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.13);
    //border-radius: 10px;
    backdrop-filter: blur(1vw);
    //top: calc(50vh - 300px);
    //top: calc(50vh - 20vw);
    top: 10%;
    //left: calc(50vw - 550px);
    //left: calc(50vw - 45vw);
    left: 5%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    button {
        cursor: pointer;
    }
}

.shopping-cart_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.hidden {
    display: none;
}

body.notScroll {
    overflow: hidden;
}

.cover.hidden {
    display: none;
}

.cover {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 200;
}

.shopinngCart_item {
    display: flex;
    height: calc(100vh/5);
    align-items:center;
    border-bottom: 0.1vw solid rgba(0,0,0,0.2);
    width: 100%;
    color: rgb(202, 202, 202);
    font-size:1vw;
}

.shopinngCart_item-image {
    width: 30%;
    height: inherit;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: start;
    overflow: hidden;
    img {
        //height: inherit;
        // height: max-content;
        // width: 100%;
        //align-self: center;
        
        //width: 100%;
        //height: auto;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 75%;
    }
}

.shopinngCart_item-title {
    width: 30%;
    h3 {
        font-size: $titleTextSize;
        padding-left: 5px;
    }
}

.shopinngCart_item-cost {
    text-align: center;
    width: 10%;
    color: #c9ad7d;
    span {
        font-size: $baseTextSize;
    }
}

.shopinngCart_item-count {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    span {
        font-size: $baseTextSize;
        font-weight: $baseFontWeight;
    }
}

.minus {

}

.plus {

}
.btn_plus_minus {
    background: #282727;
    outline: none;
    //border-radius: 50%;
    border: double;
    color: #9b9b9b;
    width: 1.5em;
    font-size: 2em;
    text-align: center;
    &:hover {
        color: rgb(190, 190, 190);
    }
}

.shopinngCart_item-summ {
    text-align: center;
    font-size: $baseTextSize;
    width: 10%;
    color: #c9ad7d;
}

.shopinngCart_item-delete {
    text-align: center;
    width: 10%;
    button {
        font-size: $baseTextSize;
        color: $textColor;
        background: none;
        outline: none;
        border: none;
        &:hover {
            color: rgb(190, 190, 190);
        }
    }
}

.controleBlock {
    bottom: -1px;
    left: 0;
    height: calc(100vh/20);
    //display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: sticky;
    background-color: #1e1e1e;
    justify-content: space-between;
    border-top: solid;
    border-top-color: white;
    .money_block {
        justify-content: end;
    }
    span {
        color: $textColor;
        font-size:1.5vw;
        overflow-wrap: anywhere;
    }
    button {
        //width: 13vw;
        width: 39%;
        //height: calc(100vh/20);
        height: inherit;
        background-color: rgb(242, 100, 2);
        border: none;
        font-family: "Tahoma";
        font-size: 1.5vw;
        color: white;
        cursor: pointer;
        &:hover {
            cursor: pointer;
            background-color: rgb(247, 140, 3);
        }
    }
    .close_btn {
        //margin-left: 25px;
    }
    .pay_btn {
        //width:55%;
        margin-left: 4%;
    }
    div {
        height: calc(100vh/20);
        display: flex;
        align-items: center;
    }
}

.pay_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}
.pay-top_wrapper {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    button {
        width: 130px;
        height: 40px;
        background-color: chocolate;
        border: none;
        margin: 15px;
        font-family: "Tahoma";
        font-size: 20px;
    }
    button:hover {
        background-color: #ff9a04;
    }
}

#btn_pay {
    font-size: 20px;
    font-family: "Tahoma";
}
#btn_pay:hover {
    background-color: #ff9a04;
}

.cards_block {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.info-pay_block {
    border-top: 1px solid rgba(0,0,0,0.3);
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    color: $textColor;
    p {
        margin-right: 5%;
    }
}

.card_1 {
    width: 377px;
    height: 225px;
    background-color: #DCDCDC;
    background-image: url("/assets/26.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    //border-radius: 11px;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 1;
    form {
        margin-left: 10px;
    }
    input {
        color: $textColor;
        background: white;
        font-size: 25px;
        border: none;
        outline: none;
        text-align: center;
        box-sizing: border-box;

    }
}

.date_block {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.card_2 {
    width: 356px;
    height: 217px;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    //border-radius: 12px;
    display: flex;
   
    align-items: center;
    position: absolute;
    right: 25%;
    top: 30%;
 }

 .card-number {
     margin-top: 25px;
     margin-bottom: 8px;
     width: 306px;
     height: 39px;
 }
 .card-number.novalid {
    border: 2px solid red;
 }

 .card-mounth {
     width: 80px;
     height: 39px;
    margin-right: 10px;
    &.valid {
        border: 1px solid green;
    }
 }

 .card-year {
     width: 80px;
     height: 39px;
     &.valid {
        border: 1px solid green;
    }
 }

 .card-name {
    width: 306px;
    height: 39px;
    margin-top: 8px;
 }

 #cvc_field {
    width: 75px;
    height: 40px;
    position: absolute;
    top: 80px;
    right: 40px;
 }

 ::placeholder {
    font-size: large;
    text-align: center;
 }

 input.cvc{
    font-size: large;
    outline: none;
    text-align: center;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0; 
 }

 input[type=number] {
 -moz-appearance:textfield; 
 }

 .button-pay {
    width: 150px;
    height: 40px;
    background-color: chocolate;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    cursor: pointer;
    left: 43%;
    top: 85%;
    position: absolute;
    button {
        background: none;
        border: none;
        width: 100%;
        height: 100%;
    }
 }
 @media only screen and (max-width: 720px) {
    .shopinngCart {
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        .shopping-cart_wrapper{
            .card_block {
                    .shopinngCart_item-image  {
                        img {
                            height: max-content;
                            width: 100%;
                            align-self: center;
                        }
                    }
                    .shopinngCart_item-title{
                        width: 28%;
                        h3{
                            font-size: 3em;
                        }
                    }
                    .shopinngCart_item-cost{
                        width: 15%;
                        span{
                            font-size: 20px;
                        }
                    }
                    .shopinngCart_item-count{
                        display:grid;
                        font-size: 2em;
                        justify-content:center;
                        width: 7%;
                        .btn_plus_minus {
                            width: 100%;
                        }
                        span{
                            justify-self: center;
                            margin-top: 20%;
                            margin-bottom: 20%;
                        }
                    }
                    .shopinngCart_item-summ{
                        width: 15%;
                        span{
                            font-size: 20px;
                        }
                    }
                    .shopinngCart_item-delete{
                        width: 5%;
                        font-size: 3vw;
                    }
                
            }
            .controleBlock{
                button{
                    font-size: 3vw;
                    width:20vw;
                }
                .money_block{
                    span{
                        font-size: 3vw;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 540px) {
    .shopinngCart {
        .shopping-cart_wrapper{
            .card_block {
                    .shopinngCart_item-image  {

                    }
                    .shopinngCart_item-title{
                        width: 22%; 
                    }
                    .shopinngCart_item-cost{
                        overflow-wrap: anywhere;
                        span{
                            font-size: 14px;
                        }
                    }
                    .shopinngCart_item-count{
                        font-size: 2em;
                        width: 10%;
                        .btn_plus_minus {
                            width: 100%;
                        }
                    }
                    .shopinngCart_item-summ{
                        overflow-wrap: anywhere;
                        span{
                            font-size: 14px;
                        }
                    }
                    .shopinngCart_item-delete{
                        width: 7%;
                        font-size: 3vw;
                    }
                
            }
            .controleBlock{
                button{
                    font-size: 3vw;
                    width:20vw;
                }
                .money_block{
                    span{
                        font-size: 3vw;
                    }
                }
            }
        }
    }
}